$suggested-date-color: rgba(25, 54, 96, 0.1);

$primary-color: #193660;

// $secondary-color: #9fe8fa;
$secondary-color: #5469859d;

$origin-in-range-background: #d7dce3;

$in-range-background: #c9f1fb;

$radius: 0.25rem;

$text-color: #495057;

$hover-color: #000;

$background: #fff;

$light-gray-background: #eef0f3;

$border-color: #ced4da;

$z-index: 1000;

$disabled-opacity: 0.3;

$icon-background: #e9ecef;

$overlay-color: transparent;

$main-box-shadow: 1px 1px 8px 1px rgba(116, 116, 116, 0.5);

$day-dimensions: 2.08rem;

$time-scale: 1;

.pdp {
  --suggested-date-color: #{$suggested-date-color};

  --primary-color: #{$primary-color};

  --secondary-color: #{$secondary-color};

  --in-range-background: #{$origin-in-range-background};

  --radius: #{$radius};

  --text-color: #{$text-color};

  --hover-color: #{$hover-color};

  --background: #{$background};

  --lightGrayBackground: #{$light-gray-background};

  --border-color: #{$border-color};

  --z-index: #{$z-index};

  --disabled-opacity: #{$disabled-opacity};

  --icon-background: #{$icon-background};

  --overlay-color: #{$overlay-color};

  --main-box-shadow: #{$main-box-shadow};

  --day-dimensions: #{$day-dimensions};

  --time-scale: #{$time-scale};
}
