@use '_variable';

@mixin little-flag {
  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    //--- right of datepicker ---//
    // right: 1.2rem;
    //--- center of datepicker ---//
    /* left: 50%; transform: translateX(-50%); */
    //--- left of datepicker ---//
    /* left: 1.2rem; */
    border: solid transparent;
    border-bottom-color: variable.$background;
    border-bottom-color: var(--background);
    border-width: 0.4rem;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 0.4rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: variable.$radius;
    border-radius: var(--radius);
    border: 0.1rem solid white; /* should match background, can't be transparent */
    background: variable.$border-color;
    background: var(--border-color);
  }
}

@keyframes start {
  from {
    transform: inherit scale(0.5);
    opacity: 0;
  }
  to {
    transform: inherit scale(1);
    opacity: 1;
  }
}

@keyframes startModal {
  from {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes datepicker-pulse {
  0% {
    box-shadow: 0 0 0 0 var(--secondary-color);
  }
  70% {
    box-shadow: 0 0 0 4px var(--secondary-color);
  }
  to {
    box-shadow: 0 0 0 0 var(--secondary-color);
  }
}
@keyframes datepicker-pulse {
  0% {
    box-shadow: 0 0 0 0 var(--secondary-color);
  }
  70% {
    box-shadow: 0 0 0 4px var(--secondary-color);
  }
  to {
    box-shadow: 0 0 0 0 var(--secondary-color);
  }
}

@media (max-width: 700px) {
  .pdp-picker {
    flex-direction: column-reverse;
  }

  .pdp-shortcut {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 !important;
    border: none !important;
  }
}

.pdp {
  position: relative;

  &:not(.pdp-range) .pdp-day.start-range {
    border-radius: variable.$radius !important;
    border-radius: var(--radius) !important;
    // border-radius: 50% !important;
  }

  &.pdp-range .pdp-picker.rtl .pdp-day.start-range {
    border-radius: variable.$radius !important;
    border-radius: var(--radius) !important;
    // border-radius: 50% !important;
  }

  &.pdp-range .pdp-picker.rtl .pdp-day.end-range {
    border-radius: variable.$radius !important;
    border-radius: var(--radius) !important;
    // border-radius: 50% !important;
  }

  &.pdp-range .pdp-picker.rtl .pdp-day.end-range.start-range {
    border-radius: variable.$radius !important;
    border-radius: var(--radius) !important;
    // border-radius: 50% !important;
  }

  &.pdp-range .pdp-picker.ltr .pdp-day.start-range {
    border-radius: variable.$radius !important;
    border-radius: var(--radius) !important;
    // border-radius: 50% !important;
  }

  &.pdp-range .pdp-picker.ltr .pdp-day.end-range {
    border-radius: variable.$radius !important;
    border-radius: var(--radius) !important;
    // border-radius: 50% !important;
  }

  &.pdp-range .pdp-picker.ltr .pdp-day.end-range.start-range {
    border-radius: variable.$radius !important;
    border-radius: var(--radius) !important;
    // border-radius: 50% !important;
  }

  &.rtl {
    direction: rtl;
    text-align: right;

    .pdp-group {
      :first-child:not(.pdp-inside),
      .pdp-inside:first-child + input {
        border-top-right-radius: variable.$radius;
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: variable.$radius;
        border-bottom-right-radius: var(--radius);
        margin-left: -1px;
      }

      input:last-of-type {
        border-top-left-radius: variable.$radius;
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: variable.$radius;
        border-bottom-left-radius: var(--radius);
      }

      .pdp-icon.pdp-inside {
        &:nth-of-type(2) {
          right: 50%;
        }
        + input {
          padding-right: 3rem;
        }
      }
    }

    &.pdp-dual {
      .pdp-clear {
        &:nth-of-type(1) {
          left: calc(50% + 0.5rem) !important;
        }
      }
    }

    .pdp-picker::after {
      right: 1.2rem;
      display: none;
    }
  }

  &.ltr {
    direction: ltr;
    text-align: left;

    .pdp-group {
      :first-child:not(.pdp-inside),
      .pdp-inside:first-child + input {
        border-top-left-radius: variable.$radius;
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: variable.$radius;
        border-bottom-left-radius: var(--radius);
        margin-right: -1px;
      }

      input:last-of-type {
        border-top-right-radius: variable.$radius;
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: variable.$radius;
        border-bottom-right-radius: var(--radius);
        font-family: sans-serif;
      }

      .pdp-clear {
        left: unset;
        right: 0.5rem;
      }

      .pdp-icon.pdp-inside {
        &:nth-of-type(2) {
          left: 50%;
        }
        + input {
          padding-left: 3rem;
        }
      }
    }

    &.pdp-dual {
      .pdp-clear {
        &:nth-of-type(1) {
          right: calc(50% + 0.5rem) !important;
        }
      }
    }

    .pdp-picker::after {
      left: 1.2rem;
    }
  }

  &.pdp-dual {
    .pdp-picker {
      left: 50%;
      transform: translateX(-50%);

      &::after {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &.pdp-modal {
    .pdp-overlay {
      background: rgba(0, 0, 0, 0.5) !important;
    }

    .pdp-picker {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: startModal 0.1s;

      &::after {
        all: unset !important;
      }
    }
  }

  * {
    box-sizing: border-box;
  }

  svg {
    vertical-align: middle;
  }

  input,
  button {
    font-family: inherit;
  }

  .pdp-label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .pdp-group {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;

    .pdp-input {
      display: block;
      height: calc(1.5em + 0.75rem + 12px);
      padding: 0.375rem 0 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      background-clip: padding-box;
      border: 1px solid variable.$border-color;
      border: 1px solid var(--border-color);
      border-right: 0;
      transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
      position: relative;
      flex: 1 1 auto;
      width: 100%;

      &.pdp-focus {
        outline: none;
        // border-bottom: 2px solid variable.$primary-color;
        // border-bottom: 2px solid var(--primary-color);
      }
    }

    .pdp-icon {
      padding: 0.375rem 0.75rem;
      line-height: 2;
      font-size: 1rem;
      color: variable.$text-color;
      color: var(--text-color);
      background: variable.$icon-background;
      background: var(--icon-background);
      background: none;
      border: 1px solid variable.$border-color;
      border: 1px solid var(--border-color);
      border-left: 0;
      max-height: calc(1.5em + 0.75rem + 12px);

      &:nth-of-type(2) {
        margin-left: -1px;
        margin-right: -1px;
      }

      &.pdp-inside {
        background: transparent;
        border: none;
        position: absolute;
        z-index: 1;
      }
    }

    .pdp-clear {
      border: none;
      background-color: transparent;
      position: absolute;
      left: 0.5rem;
      top: 0;
      bottom: 0;
      z-index: 1;
      cursor: pointer;
      padding: 0 0.5rem;
    }
  }

  .pdp-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: variable.$z-index;
    z-index: var(--z-index);
    background: variable.$overlay-color;
    background: var(--overlay-color);
  }

  .pdp-picker {
    display: flex;
    position: absolute;
    color: variable.$text-color;
    color: var(--text-color);
    background: variable.$background;
    background: var(--background);
    box-shadow: variable.$main-box-shadow;
    box-shadow: var(--main-box-shadow);
    box-shadow: 0 0 8px #2320201a;
    z-index: variable.$z-index + 1;
    z-index: calc(var(--z-index) + 1);
    border: 1px solid #e9eaeb;
    border-radius: variable.$radius;
    border-radius: var(--radius);
    border-radius: 4px;
    transition: all 1s ease;
    padding: 0.3rem 0.6rem;
    animation: start 0.1s;

    &.ltr {
      direction: ltr;

      .pdp-header .bottom {
        flex-direction: row-reverse;

        & > div {
          display: flex;
          flex-direction: row-reverse;
        }
      }

      .pdp-select-year,
      .days,
      .pdp-header .pdp-year,
      .pdp-footer small,
      .pdp-time {
        font-family: sans-serif !important;
      }

      .pdp-shortcut {
        border-right: unset;
        border-left: 1px solid variable.$border-color;
        border-left: 1px solid var(--border-color);
      }
    }

    &.rtl {
      direction: rtl;
    }

    &.pdp-top {
      bottom: calc(1.5em + 0.75rem + 2px);
      margin-top: unset;
      margin-bottom: 0.5rem;

      &::after {
        bottom: unset;
        top: 100%;
        transform: rotate(180deg);
      }
    }

    &.pdp-left {
      left: 0;
      right: unset;

      &::after {
        right: unset;
        left: 1.2rem;
      }
    }

    &.pdp-right {
      left: unset;
      right: 0;

      &::after {
        left: unset;
        right: 1.2rem;
      }
    }

    @include little-flag();

    ::selection {
      all: unset;
    }

    .pdp-auto {
      &,
      & > div {
        background: inherit;
      }
    }

    .pdp-select-year,
    .pdp-select-month {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      background: inherit;
      list-style: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 3.5rem;
      bottom: 3.5rem;
      padding: 0;
      margin: 0;
      z-index: 6;
      animation: start 0.1s;
      overflow: auto;

      li {
        width: 5rem;
        height: 4rem;
        padding: 0.2rem;
        cursor: pointer;
        margin: 0.15rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 30% 0;

        &:not(.disabled):hover {
          border-radius: variable.$radius;
          border-radius: var(--radius);
          border: 2px solid variable.$primary-color;
          border: 2px solid var(--primary-color);
        }

        &.disabled {
          text-shadow: unset;
          box-shadow: unset;
          cursor: default !important;
          opacity: variable.$disabled-opacity;
          opacity: var(--disabled-opacity);
        }

        &.selected {
          border: 2px solid variable.$primary-color;
          border: 2px solid var(--primary-color);
          border-radius: variable.$radius;
          border-radius: var(--radius);
          background: variable.$primary-color !important;
          background: var(--primary-color) !important;
          color: variable.$background;
          color: var(--background);
        }
      }

      @include scrollbar();
    }

    .pdp-header {
      & > div:first-child {
        border-bottom: 1px solid variable.$border-color;
        border-bottom: 1px solid var(--border-color);
        border-bottom: 0;
        margin-bottom: 0.5rem;
      }

      .top {
        padding: 0.75rem 0.3rem 1rem 0.3rem;
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        direction: rtl;

        button {
          border: 0;
          background: inherit;
          cursor: pointer;
          color: variable.$primary-color;
          color: var(--primary-color);
          stroke: var(--primary-color);
          padding: 0 0.5rem;
        }
      }

      .bottom {
        padding: 0.3rem;
        display: flex;
        align-items: center;
        height: 3rem;
        direction: rtl;

        & > div {
          display: flex;
          flex-grow: 1;
          justify-content: space-around;

          .pdp-month,
          .pdp-year {
            color: variable.$primary-color;
            color: var(--primary-color);
            font-size: 1rem;
          }
        }

        button {
          border: 0;
          background: inherit;
          cursor: pointer;

          &:focus {
            outline: 0;
          }
        }

        .pdp-arrow.disabled {
          opacity: variable.$disabled-opacity;
          opacity: var(--disabled-opacity);
        }

        // .pdp-arrow:not(.disabled):hover {
        //   opacity: variable.$disabled-opacity;
        //   opacity: var(--disabled-opacity);
        // }
      }
    }

    .pdp-main {
      position: relative;

      .pdp-date {
        display: flex;
        justify-content: center;
        overflow: hidden;
        max-width: 680px;

        .pdp-column {
          margin: 0 1rem;

          .pdp-week {
            background: inherit;
            margin-bottom: 0.3rem;
            display: flex;
            justify-content: space-around;
            gap: 0.25rem;

            .pdp-weekday {
              width: variable.$day-dimensions;
              width: var(--day-dimensions);
              height: variable.$day-dimensions;
              height: var(--day-dimensions);
              line-height: variable.$day-dimensions;
              line-height: var(--day-dimensions);
              font-size: 0.8rem;
              text-align: center;
            }
          }

          .days {
            background: inherit;

            .pdp-day {
              display: inline-flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin: 0.25rem;
              font-size: 0.8rem;
              width: variable.$day-dimensions;
              width: var(--day-dimensions);
              width: 36px;
              height: variable.$day-dimensions;
              height: var(--day-dimensions);
              height: 36px;
              border-radius: variable.$radius;
              border-radius: var(--radius);
              // border-radius: 50%;
              padding: 0;
              cursor: pointer;
              transition-property: background-color, box-shadow;
              transition-duration: 0.1s;
              // contain: content;
              position: relative;
              z-index: 5;

              &.friday {
                color: variable.$primary-color;
                color: var(--primary-color);
              }

              &.empty {
                visibility: hidden;
              }

              &.start-range,
              &.end-range {
                background: variable.$primary-color;
                background: var(--primary-color);
                color: variable.$background;
                color: var(--background);
              }

              &.disabled {
                box-shadow: unset;
                text-shadow: unset;
                cursor: default !important;
                border-color: transparent;
                opacity: variable.$disabled-opacity;
                opacity: var(--disabled-opacity);
              }

              &.hover {
                background: variable.$secondary-color !important;
                background: var(--secondary-color) !important;
                color: variable.$hover-color;
                color: var(--hover-color);
              }

              &.in-range {
                background: variable.$in-range-background;
                background: var(--in-range-background);
                color: variable.$hover-color;
                color: var(--hover-color);
                // border-radius: 50% !important;
              }

              &:not(.disabled):hover,
              &.today {
                border: 2px solid variable.$primary-color;
                border: 2px solid var(--primary-color);
                // border-radius: 50%;
              }

              &.tada {
                animation: datepicker-pulse 0.35s 3;
                // background: variable.$secondary-color;
                // background: var(--secondary-color);
                // background: var(--in-range-background);
                color: variable.$primary-color;
                color: var(--primary-color);
                position: relative;
                z-index: 1;
              }
            }
          }
        }
      }

      .pdp-time {
        background: inherit;

        &:not(.inline) {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }

        .pdp-column {
          display: flex;

          div {
            width: 16.6rem;
          }
        }

        .pdp-moment {
          margin-bottom: 1rem;
          font-size: calc(2rem * variable.$time-scale);
          font-size: calc(2rem * var(--time-scale));
          display: flex;
          justify-content: space-around;
          height: 100%;

          &.column-direction {
            flex-direction: column;
          }

          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            direction: ltr;
            width: 100%;
            padding: 1rem 0;

            &.disabled {
              opacity: variable.$disabled-opacity;
              opacity: var(--disabled-opacity);
            }

            div {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 0 0.8rem;

              button {
                border: none;
                background: none;
                cursor: pointer;

                svg {
                  width: calc(8px * variable.$time-scale);
                  width: calc(8px * var(--time-scale));
                }
              }
            }
          }
        }
      }
    }

    .pdp-footer {
      text-align: center;
      min-height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid variable.$border-color;
      border-top: 1px solid var(--border-color);
      padding: 0.3rem;

      .pdp-today,
      .pdp-submit {
        min-width: 100px;
        font-size: 0.8rem;
        padding: 0.5rem;
        margin: 0 0.3rem;
        line-height: 1.5;
        color: variable.$background;
        color: var(--background);
        text-decoration: none;
        border: none;
        border-radius: variable.$radius;
        border-radius: var(--radius);
        background: variable.$primary-color;
        background: var(--primary-color);
        cursor: pointer;

        &:hover {
          filter: brightness(0.9);
        }
      }

      > div {
        display: flex;
        gap: 0.75rem;
      }
    }

    .pdp-shortcut {
      margin: 0;
      padding: 0.5rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border-right: 1px solid variable.$border-color;
      border-right: 1px solid var(--border-color);

      li {
        margin: 0;
        padding: 0.5rem 1rem;
        text-align: center;
        cursor: pointer;
        border-radius: variable.$radius;
        border-radius: var(--radius);
        margin: 0.25rem 0;
        color: variable.$hover-color;
        color: var(--hover-color);
        font-weight: 500;

        &:hover {
          background: variable.$in-range-background;
          background: var(--in-range-background);
        }

        &.selected {
          background: variable.$primary-color;
          background: var(--primary-color);
          color: variable.$background;
          color: var(--background);
        }
      }
    }
  }

  .pdp-pointer {
    cursor: pointer;
  }

  .pdp-auto {
    margin: auto;
    position: relative;
  }
}
.textSuccess {
  color: #28a745 !important;
}
.textDominant {
  color: #193660;
}
.bgDominant {
  background-color: #193660;
}
.textError {
  color: #f04438 !important;
}
.bgError {
  background-color: #f04438;
}
.textLightGray {
  color: #a4a7ae;
}
.bgLightGray {
  background-color: #a4a7ae;
}
.pdp-header {
  max-width: 680px;
  overflow: hidden;
}
.textError.start-range,
.textError.end-range {
  color: white !important;
}
.pdp-day.in-range:hover {
  border: 0 !important;
}
.fieldContainer {
  position: relative;
  border: 1px solid #ced4da;
  border-right: 0;
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
}
.fieldContainer input {
  background-color: transparent;
  position: absolute !important;
  top: 0;
  right: 0;
  height: 100% !important;
  border: none !important;
  outline: none;
  opacity: 0;
}
.placeHolder {
  position: absolute;
  top: 11px;
  right: 0;
  font-size: 14px;
  font-weight: 400;
  color: #181d27;
  transition: 300ms ease;
  -o-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -webkit-transition: 300ms ease;
}
.moveUp {
  top: 4px;
  font-size: 10px;
}
.boldTitle {
  font-weight: 700;
  font-size: 16px;
  color: variable.$primary-color;
  color: var(--primary-color);
}
.smallContent {
  font-weight: 400;
  font-size: 16px;
  color: #657894;
  margin: 0 4px;
}
.changeLocaleBtn {
  color: #2e90fa !important;
  font-weight: 700;
  font-size: 16px;
}
.ltrDir {
  direction: ltr;
}
.pdp-footer.rtl {
  direction: rtl;
}
.h-\[50px\] {
  height: 50px;
}
.selectedDatesText {
  display: flex;
  gap: 0.5rem;
  position: relative;
  top: 1.25rem;
  font-size: 14px;
  font-weight: 400;
  color: #181d27;
}
.hidden {
  display: none;
}
.disabledBtn,
.disabledBtn:hover {
  background: #f5f5f5 !important;
  color: #a4a7ae !important;
  border: 1px solid #e9eaeb !important;
  box-shadow: 0 1px 2px #0a0d120d !important;
  cursor: not-allowed !important;
  filter: brightness(1) !important;
  -webkit-filter: brightness(1) !important;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.max-w-\[200px\] {
  max-width: 200px;
}
.dayPrice {
  font-size: 10px;
  color: gray;
}
.pdp-day.start-range .dayPrice,
.pdp-day.end-range .dayPrice {
  color: white;
}
.text-xs {
  font-size: smaller;
}
.symbolsExplanation {
  color: variable.$background !important;
  color: var(--primary-color) !important;
  background: variable.$primary-color !important;
  background: var(--lightGrayBackground) !important;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  font-size: x-small;
  transition: 300ms ease;
  -o-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -webkit-transition: 300ms ease;
}
.symbolsExplanation .list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.symbolsExplanation .list .item {
  width: 45%;
  min-width: 295px;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  // transition: all 0.3s ease;
  // -o-transition: all 0.3s ease;
  // -moz-transition: all 0.3s ease;
  // -webkit-transition: all 0.3s ease;
  transition: transform 300ms linear;
  // transform 300ms ease;
  // opacity 200ms ease;
  // will-change: transform;
}
.slide-right-enter-from {
  transform: translateX(110%);
  // opacity: 0;
}
.slide-right-leave-to {
  transform: translateX(-110%);
  // opacity: 0;
}

.slide-left-enter-from {
  transform: translateX(-110%);
  // opacity: 0;
}
.slide-left-leave-to {
  transform: translateX(110%);
  // opacity: 0;
}
.dotsMenu {
  cursor: pointer;
}
.moreBox {
  position: absolute;
  top: 3.5rem;
  left: 0.5rem;
  z-index: 6;
  background: white;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin: 0;
  padding: 0.5rem;
  list-style: none;
  transition: 300ms ease;
  -o-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -webkit-transition: 300ms ease;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.moreBox button {
  background: transparent;
  border: 0;
}
.hideBox {
  opacity: 0;
  visibility: hidden;
}
.tooltip {
  position: absolute;
  top: -0.9rem;
  right: 0;
  background: #0000008c;
  color: white;
  width: 100%;
  border-radius: 2px 2px 0 0;
  text-align: center;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 300ms ease;
}
.pdp-day:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
.symbolsGuideBtn {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  padding: 1px 6px;
}
.infoIcon {
  border: 1px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 22px;
}
.symbolWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.symbolWrapper img {
  mix-blend-mode: multiply;
  width: 80%;
  height: auto;
  opacity: 0.4;
}
.symbolsExplanation .symbols img {
  mix-blend-mode: multiply;
}
.suggested-dates {
  background: variable.$suggested-date-color;
  background: var(--suggested-date-color);
}
.errors.list {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.err {
  background-color: variable.$primary-color;
  background-color: var(--primary-color);
  color: white;
  font-size: smaller;
  padding: 0.5rem;
  border-radius: 4px 4px 0  0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.errors.list.rtl .err {
  animation: fadeInRight 700ms ease;
  -o-animation: fadeInRight 700ms ease;
  -moz-animation: fadeInRight 700ms ease;
  -webkit-animation: fadeInRight 700ms ease;
}
.errors.list .err {
  animation: fadeInLeft 700ms ease;
  -o-animation: fadeInLeft 700ms ease;
  -moz-animation: fadeInLeft 700ms ease;
  -webkit-animation: fadeInLeft 700ms ease;
}

.errors.list.rtl .fadeOutRight {
  animation: fadeOutRight 700ms ease;
  -o-animation: fadeOutRight 700ms ease;
  -moz-animation: fadeOutRight 700ms ease;
  -webkit-animation: fadeOutRight 700ms ease;
}
.errors.list .fadeOutLeft {
  animation: fadeOutLeft 700ms ease;
  -o-animation: fadeOutLeft 700ms ease;
  -moz-animation: fadeOutLeft 700ms ease;
  -webkit-animation: fadeOutLeft 700ms ease;
}
.box {
  display: flex;
  align-items: flex-end;
  column-gap: 0.5rem;
}
.close {
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
}
.barTime {
  background-color: variable.$secondary-color;
  background-color: var(--secondary-color);
  width: 100%;
  height: 4px;
}
.errors.list.rtl .barTime { // shrinkBar time equal to ERROR_DURATION in DatePicker component
  animation: shrinkBar 5000ms linear forwards, fadeInRight 700ms ease;
  -o-animation: shrinkBar 5000ms linear forwards, fadeInRight 700ms ease;
  -moz-animation: shrinkBar 5000ms linear forwards, fadeInRight 700ms ease;
  -webkit-animation: shrinkBar 5000ms linear forwards, fadeInRight 700ms ease;
}
.errors.list .barTime { // shrinkBar time equal to ERROR_DURATION in DatePicker component
  animation: shrinkBar 5000ms linear forwards, fadeInLeft 700ms ease;
  -o-animation: shrinkBar 5000ms linear forwards, fadeInLeft 700ms ease;
  -moz-animation: shrinkBar 5000ms linear forwards, fadeInLeft 700ms ease;
  -webkit-animation: shrinkBar 5000ms linear forwards, fadeInLeft 700ms ease;
}
@keyframes shrinkBar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.showSection {
  opacity: 1;
  visibility: visible;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.text-left {
  text-align: left;
}
@keyframes fadeInRight {
  from {
    right: -3rem;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    left: -3rem;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes fadeOutRight {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -3rem;
    opacity: 0;
  }
}
@keyframes fadeOutLeft {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -3rem;
    opacity: 0;
  }
}
@media screen AND (min-width: 1024px) {
  .lg\:w-\[340px\] {
    width: 340px;
  }
}
@media screen AND (min-width: 768px) AND (max-width: 1023px) {
  .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .days .pdp-day {
    margin: 1px;
  }
  .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .days .pdp-day {
    width: 30px;
    height: 30px;
  }
  .md\:w-\[300px\] {
    width: 300px;
  }
  .symbolsExplanation .list .item {
    min-width: 280px;
  }
}
@media screen AND (min-width: 768px) {
  .md\:hidden {
    display: none !important;
  }
  .md\:h-\[109px\] {
    height: 109px;
  }
  .dotsMenu {
    display: none;
  }
}
@media screen AND (max-width: 767px) {
  .pdp .pdp-picker.rtl,
  .pdp .pdp-picker.ltr,
  .pdp .pdp-auto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pdp .pdp-picker .pdp-footer {
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
  }
  .max-md\:hidden {
    display: none !important;
  }
  .pdp .pdp-picker .pdp-main {
    min-height: 500px;
    max-height: 65vh;
    overflow-y: auto;
  }
  .pdp .pdp-picker .pdp-main .pdp-date {
    flex-direction: column;
    margin: auto;
  }
  .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .days .pdp-day.today {
    font-size: 10px;
  }
  .max-md\:min-w-full {
    min-width: 100% !important;
  }
  .pdp .pdp-picker .pdp-main .pdp-date .pdp-column {
    text-align: center;
  }
  .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-week {
    justify-content: space-between;
  }
  .max-md\:flex {
    display: flex;
  }
  .max-md\:justify-between {
    justify-content: space-between;
  }

  .slide-left-enter-from {
    transform: translateY(110%);
    -o-transform: translateY(110%);
    -ms-transform: translateY(110%);
    -moz-transform: translateY(110%);
    -webkit-transform: translateY(110%);
  }
  .slide-left-leave-to {
    transform: translateY(-110%);
    -o-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    -moz-transform: translateY(-110%);
    -webkit-transform: translateY(-110%);
  }

  .slide-right-enter-from {
    transform: translateY(-110%);
    -o-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    -moz-transform: translateY(-110%);
    -webkit-transform: translateY(-110%);
  }
  .slide-right-leave-to {
    transform: translateY(110%);
    -o-transform: translateY(110%);
    -ms-transform: translateY(110%);
    -moz-transform: translateY(110%);
    -webkit-transform: translateY(110%);
  }
  .symbolsExplanation {
    position: fixed;
    bottom: -10rem;
    right: 0;
    z-index: 6;
  }
  .max-md\:hideBox {
    opacity: 0;
    visibility: hidden;
  }
  .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .pdp-week .pdp-weekday,
  .pdp .pdp-picker .pdp-main .pdp-date .pdp-column .days .pdp-day {
    min-width: 30px;
    width: 10%;
  }
  .errors.list {
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    -o-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    width: 98%;
    z-index: 1;
  }
}
